@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 8px;
}

.left .close img {
    display: none;
}

.right {
    width: 75vw;
}

.home #logo ul li {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 23px;
    padding: 5px 0;
    margin: -5px;
}

.home ul li {
    width: 14px;
    display: flex;
    list-style: none;
    gap: 15px;
    padding-top: 15px;
    font-weight: bold;
}

.library {
    min-height: 90vh;
    position: relative;
}

.heading {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 23px 10px;
    font-weight: bold;
    font-size: 11px;
}

.heading img {
    width: 20px;
}

.footer {
    display: flex;
    font-size: 8px;
    gap: 5px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    margin-left: -10px;
}

.footer a {
    color: gray;
    text-decoration: none;
}

/* right-section --------------------------------------------------------------------------------------*/
.right {
    margin: 14px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(34, 34, 34);
    height: 70px;
}

.header>* {
    padding: 20px;
}

.hamburger {
    width: 40px;
    display: none;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.spotifyPlaylist {
    padding: 10px 20px;

}

h1 {
    font-size: 24px;
    padding: 16px;

}

.cardContainer {
    margin: 13px 5px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;

}

.card {
    position: relative;
    width: 150px;
    padding: 8px;
    font-size: small;
    border-radius: 5px;
    background-color: #252525;

}

.card img {
    width: 100%;
    object-fit: contain;
}

.card>* {
    padding-top: 10px;
}

.play {
    position: absolute;
    right: 8%;
    top: 43%;
}

.button>* {
    margin: 0 12px;
}

.Signupbtn {
    background-color: #252525;
    color: #ababab;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.Signupbtn:hover {
    color: #f7f7f7;
    font-size: 17px;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    font-size: 16px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    padding: 10px 11px;
    font-size: 17px;
    background-color: #f0f0f0;
}

/* songlist------------------------------------- */
.playbar {
    position: fixed;
    bottom: 15px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    padding: 10px;
    width: 69vw;
    min-height: 40px;
}

.buttonsongs {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songlist ul {
    padding: 0 6px;
}

.songlist {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songlist .info {
    width: 344px;
    font-size: 10px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;

}

.seekbar {
    height: 4px;
    width: 97%;
    background: black;
    position: absolute;
    bottom: 0px;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;

}

.circle {
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.buttonsongs img {
    cursor: pointer;
}

.songinfo,
.songtime {
    color: black;
    padding: 0 12px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;


}

@media (max-width:1180px) {
    .left {
        position: absolute;
        left: -120%;
        width: 370px;
        transition: all .3s;
        z-index: 1;
        background-color: black;
    }

    .left .close img {
        position: absolute;
        right: 25px;
        top: 22px;
        width: 30px;
        display: block;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .card {
        width: 90vw;
    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .abovebar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .hamburger {
        display: block;
    }
}